$font-family-base: 'Poppins', Helvetica, sans-serif;
$article-body-font: 'Rubik', Helvetica, sans-serif;
$background: rgb(251, 252, 255);
$blue:#80caff;
$dark-grey:#c51244;
$light-grey:#c8cfca;
$light-blue:#e4f0f7;
$very-large-font-size: 24px;
$large-font-size:20px;
$medium-font-size:14px;
$small-font-size:12px;
